@import '_colors.scss';
@import '_triangle.scss';
$expertiseN: 4;

.about {
	margin-top: 3em;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	//grid-template-rows: minmax(2em, 3em) minmax(auto, 2em) 1fr 1fr 1fr;
	&__intro--short {
		text-align: center;
		margin: 2em;
		grid-column: 2/3; 
		//grid-row: 2/3;
		h2:before {
			@include triangle;
		}
	}

	&__intro--long {
		grid-column: span 3;
		//grid-row: 3/4;
		background-color: $subColor-opa;
		padding: 2em;
		// display: grid;
		// grid-template-columns: 3em 2fr 3em;
		p {
			//grid-column: 2/3;
			padding: 2em;
		}
	}

	&__expertise {
		text-align: center;
		grid-column: span 3;
		//grid-row: 4/5;
		padding-top: 2em;
		padding-bottom: 2em;
		padding-left: 3em;
		padding-right: 3em;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		background-color: $subColor;
		h2, p {
			grid-column: span 3;
		}
		h2:before {
			@include triangle;
			background-color: $mainColor;
		}
		&__detail {
			padding: 1em;
		}
		@for $i from 1 to $expertiseN {
			div:nth-child($i) {
				grid-column: $i/($i+1);
			}
		}
	}

	&__skill {
		grid-column: 2/3;
		//grid-row: 5/5;
		padding-top: 5em;
		text-align: center;
		border-bottom: 1px solid $subColor-opa;
		h2:before {
			@include triangle;
			background-color: $subColor;
		}
		&__table {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			padding: 1em;
			div {
				padding: 0.5em;
				max-width: 14.5em;
				&:before {
					margin-left: 2em;
					margin-right: 1em;
				}
			}
			// height: 2em;
			// padding: 1em;
			// max-width: 40em;
			// column-count: 3;
			// display: inline-block;
		}
	}
}

@media all and (max-width: 500px) {
	.about__expertise {
		div {
			grid-column: span 3;
		}
	}
}

@keyframes tri-ani {
	0% {
	transform: rotate(0deg);
	}
	25% {
	transform: rotate(90deg);
	}

	50% {
	transform: rotate(180deg);
	}

	75% {
	transform: rotate(270deg);
	}

	100% {
	transform: rotate(360deg);
	}
}