@import '_colors.scss';
@import '_button.scss';
@import '_triangle.scss';

.contact {
	background-color: $subColor-opa;
	padding: 2em;
	display: grid;
	grid-template-columns: minmax(8em, auto) auto minmax(8em, auto);
	h2 {
		grid-column: 2/3;
		&:before {
			@include triangle;
			background-color: white;
		}
	}
	&__form {
		grid-column: 2/3;
	  	text-align: left;
	  	padding: 2em;
		label {
			display: block;
			font-size: 0.8em;
			margin: 0.3em;
		}
		input, textarea {
			box-sizing: border-box;
			width: 100%;
			border: 1px solid;
			border-color: $subColor-opa;
			border-radius: 0.25em;
			padding: 0.75em;
			margin: 0.3em;
			font-size: 1em;
			color: $mainColor;
		}
		i {
			color: $mainColor;
			font-size: 1em;
		}
		&__button{
			@include btn_style;
			background-color: $mainColor;
			color: $backColor;
			border-color: $mainColor;
			transition: transform 0.5s ease-out;
			&:hover {
				transform: scale(1.1);	
			}
		}
	}

	&__social {
		grid-column: 2/3;
		i {
			margin: 0.6em;
			font-size: 24px;
			color: $fontColor;
			&:hover {
				animation: main__social--jump 1s infinite;
				color: $mainColor;
			}
		}
	}
}

@media all and (max-width: 680px) {
	.contact {
		grid-template-columns: 1fr;
		h2, 
		&__form, 
		&__social {
			grid-column: span 1;
		}
	}
}