@import './_colors.scss';
.gallery__project {
  width: 18em;
  min-height: 100%;
  text-align: center;
  height: 12em;
  position: relative;
  margin: 1em;
  display: inline-block;
  overflow: hidden;
  background-color: white;
  img {
  	width: 110%;
    transition: all 0.4s;
  }
  .name {
    text-decoration: none;
    color: $mainColor;
    font-size: 20px;
    letter-spacing: .1em;
    position: absolute;
    display: block;
    top: 40%;
    left: 0;
    text-align: center;
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  &:hover {
    .name {
      opacity: 1;
      transform: scale(1);
      transition: all 0.6s; 
    }
    img {
      transform: scale(1.2);
      opacity: 0.5;
      background-position: top top;
      filter: blur(2px);
      transition: all 0.8s transition-property(all);
    }     
  }
}
