@import './_colors.scss';
@import '../stylesheets/_button.scss';
.gallery__project {
  width: 18em;
  min-height: 100%;
  text-align: center;
  height: 12em;
  position: relative;
  margin: 1em;
  display: inline-block;
  overflow: hidden;
  background-color: white;
  img {
  	width: 110%;
    transition: all 0.4s;
    cursor: pointer;
  }
  .name {
    text-decoration: none;
    font-size: 0.9em;
    background-color: $subColor-opa;
    padding: 0.2em;
    color: $mainColor;
    position: absolute;
    display: block;
    top: 75%;
    left: 0;
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  &:hover {
    .name {
      opacity: 1;
      transform: scale(1);
      transition: all 0.6s; 
    }
    img {
      transform: scale(1.2);
      opacity: 0.5;
      background-position: top top;
      filter: blur(2px);
      transition: all 0.8s transition-property(all);
    }     
  }
}

.gallery__details {
  text-align: center;
  padding: 5em;
  h2 {
    margin-top: 3em;
    a {
      color: $mainColor;
    }
  }
  img {
    display: block;
    padding: 2em;
    width: 80%;
    height: auto;
    margin: auto;
  }
  button {
    @include btn_style;
    float: left;
  }
  .keyword {
    background-color: $mainColor;
    color: white;
    width: 7em;
    height: 1.5em;
    border-radius: 0.2em 0.2em;
    font-weight: 0.8em;
    margin: 1em;
    padding: 0.2em;
    display: inline-block;
    text-align: center;
  }
}
